/*  横向排列按钮样式  */
.button_toolbar {clear:both;padding:15px 15px 0; }
.button_toolbar:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.button_toolbar a { float: left; margin: 0 5px 5px 0; padding: 0px 20px; height: 30px; line-height: 30px; *display:inline;*zoom:1; background-color: darkgray; color: #fff; -webkit-border-radius:3px;-moz-border-radius:3px; border-radius: 3px; position:relative;  cursor: pointer;}
.button_toolbar a:hover { background-color: darkgray; line-height: 30px;}
.button_toolbar a:active { line-height: 30px;}
.button_toolbar .unable { background-color: #d5d5d5; color: #888; cursor: default; line-height: 30px;}
.button_toolbar .unable:hover { background-color: #d5d5d5; }
.button_toolbar span {  display:block; *margin-top:0;}

.button_toolbar ul li{width: 40%; height:32px; display: block; float:left;}
.button_toolbar ul li label { float:left; line-height:32px; padding-left:5%;}
.button_toolbar ul li select{width: 50%; height:32px;}

.confirm { float: left; text-align:;text-align: center; color: #fff; background-color: #0a7; width: 120px; height: 40px; border: 0; border-radius: 2px; cursor: pointer; position: relative; z-index: 0; }
.cancle { float: right; text-align: center; color: #888; background-color: #d5d5d5; width: 120px; height: 40px; border: 0; border-radius: 2px; cursor: pointer; position: relative; z-index: 0; }