@charset "utf-8";
.title{margin-left:50px; font-size:15px; text-align:left;}
.notFirst{margin-top:50px;}
.section{margin-left:70px;}
.flowDiv{height:400px;overflow-y:auto;overflow-x:hidden;margin-right:20px;}
.content_regist{background:url(images/flow_regist.png) no-repeat center;width:800px;height:450px;margin-left:50px;}
.content_deposit{background:url(images/flow_deposit.png) no-repeat center;width:700px;height:300px;margin-left:100px;}
.content_handin{background:url(images/flow_handin.png) no-repeat center;width:700px;height:400px;margin-left:100px;}
.content_bail_return{background:url(images/flow_bail_return.png) no-repeat center;width:700px;height:200px;margin-left:100px;}
.content_pay{background:url(images/flow_pay.png) no-repeat center;width:700px;height:400px;margin-left:100px;}
.content_signin{background:url(images/flow_signin.png) no-repeat center;width:700px;height:400px;margin-left:100px;}
.content_return{background:url(images/flow_return.png) no-repeat center;width:700px;height:790px;margin-left:80px;}
.content_withdraw{background:url(images/flow_withdraw.png) no-repeat center;width:700px;height:150px;margin-left:100px;}