.search_bar .condition ul li.laydate li{padding-top:0;}
.laydate{width:66% !important;}
.laydate li{ float:left; height:30px !important;}
.laydate label{width:20% !important;min-width:120px; margin-left:55px;}
.laydate input{width:91% !important;}
.laydate .start{width:30% !important;*width:28.5% !important;margin-left:1px; line-height:30px !important;
}
.laydate .text{width:2% !important; margin:0 2% 0 -1.5%; line-height:30px; }
.laydate .end{width:30% !important;*width:28.5% !important;line-height:30px !important;}
.laydate-icon{padding-right:0px !important;}