/*分页*/
div.badoo { float:right; font-size: 13px; color: #545454; font-family: Arial, Helvetica, sans-serif; background-color: #fff; padding: 10px 0; margin:6px 0 ;*margin:7px 0 ;}
div.badoo a { border: #f0f0f0 1px solid; color: #545454; text-decoration: none; margin:0; padding:  7px 12px; }
div.badoo span.current { border: #f0f0f0 1px solid;color: #fff ; background-color: #0a7; padding: 7px 12px; }
div.badoo a.off { border: #f0f0f0 1px solid;color: #999; padding: 7px 12px; }
div.badoo a:hover, div.badoo a:active {background-color: #0a7;color: #fff;}

/*页码跳转*/
.number{ float:left;margin:15px 15px;}
.numbers{float:left; margin: 15px 0 0 -10px; *margin:17px 0 0 -10px;}
.number select{ height:20px !important;}
.number .select_down{ display:inline-block;  margin-left: 10px;
  vertical-align: middle;}
.number .select_down h4{width:100%;}
.number .select_down h4 em {width:100%;padding:0 !important;padding:0 5px;}
*+html .number .select_down h4 em {text-indent:5px;}
.number select{ width:50px;}
