/*  table_list  */
.table_list { margin: 10px 15px 20px 15px;}
.search_bar_popup .table_list{margin: 10px 20px 0; padding-bottom:20px;overflow-x: hidden !important;}
.table-bordered { border: none; }
.table_list table {  width:100%;  float: none; border-left: 1px solid #d5d5d5; table-layout:fixed;}
html>body .table_list .bottom .dataTables_length{margin-top/**/:8px !important;}
* html .table_list .bottom .dataTables_length {margin-top:-1px;}
*:first-child+html .table_list .bottom .dataTables_length {*margin-top:6px !important;}

#example_info {float: left; margin-right: 5px;}

/*.table_list input{ border: none !important;}*/
table.table-bordered th:last-child, table.table-bordered td:last-child { border-right-width: 1px; }
.table_list table>thead>tr>th { padding: 0 8px; height: 40px; line-height: 40px; font-weight: normal; color: #000; background-color: #e1e1e1; border-left: 1px solid #d5d5d5;border-right: 1px solid #d5d5d5; border-bottom: none; border-top: none; border-left: none; text-align: left; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.table_list table thead tr th { padding: 0 8px; height: 40px; line-height: 40px; font-weight: normal; color: #000; background-color: #e1e1e1; border-left: 1px solid #d5d5d5;border-right: 1px solid #d5d5d5; border-bottom: none; border-top: none; border-left: none; text-align: left; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.table_list table thead tr:hover{ background:#e1e1e1 !important;}
.table_list table thead tr th:hover{ background:#e1e1e1 !important;}
.table_list table>thead>tr>th>em{ color: #f00;}
.table_list table thead tr th em{ color: #f00;}
.table_list table>tbody>tr>td { padding: 0 8px; height: 35px; line-height: 35px; font-weight: normal; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d9d9d9; border-top: none; text-align: left; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: #fff; }
.table_list table tbody tr td { padding: 0 8px; height: 35px; line-height: 35px; font-weight: normal; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d9d9d9; border-top: none; border-left: none; text-align: left; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: #fff; }
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th { background-color: #f1f1f1; }
table > tbody > tr.currSelected > td { background-color: #cce7df !important; }
table.dataTable tbody .hover td { *background-color:#f2f2f2;}
table.dataTable tbody .currSelected td { *background-color:#cce7df !important;}

/*table row hover added by developer 2015/03/31*/
.tbhover { background-color: #fef3e1 !important; cursor: pointer; }
.selectedtd { background-color: #d7e9cf !important; }
.page_current { border: #f0f0f0 1px solid; color: #fff; background-color: #0a7; padding: 7px 12px; }
/*table样式修正*/
.table_list .dataTable{ float: none; border-left: 1px solid #d5d5d5;table-layout:fixed;}
.table_list .bottom{margin-top:15px;overflow:hidden;}

/**固定表格宽度，出现横向滚动条*/
.lark-full-width {
    width: 100%;
}
.lark-table-wrapper {
    width:100%;
}
.lark-scroll-x {
    overflow-x: auto;
}
.lark-t-lxs {
    width:30px;
}
.lark-t-xs {
    width:60px;
}
.lark-t-lsm {
    width:90px;
}
.lark-t-sm {
    width:120px;
}
.lark-t-lmd {
    width:135px;
}
.lark-t-md {
    width:150px;
}
.lark-t-llg {
    width:170px;
}
.lark-t-lg {
    width:200px;
}
.lark-t-lxl {
    width:250px;
}
.lark-t-xl {
    width:300px;
}
/** readonly元素背景灰色*/
.lark-readonly {
    background-color: #F0F0F0 !important;
}