<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.liugq.mapper.DunJiaFuMapper" >
  
  	<resultMap id="BaseResultMap" type="com.example.liugq.bean.dzm.DunJiaFu" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="main_property" property="mainProperty" jdbcType="VARCHAR" />
	    <result column="main_property_name" property="mainPropertyName" jdbcType="VARCHAR" />
	    <result column="secondary_property" property="secondaryProperty" jdbcType="VARCHAR" />
	    <result column="secondary_property_name" property="secondaryPropertyName" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
  	</resultMap>
  	
	<sql id="Base_Column_List" >
    	id, name, main_property, main_property_name, secondary_property, secondary_property_name, 
    	remark
  	</sql>
 
	<!-- 遁甲符数据查询 -->
  	<select id="dunJiaFuQuery" resultMap="BaseResultMap" >
    	select 
    	<include refid="Base_Column_List" />
     	from dzm_dunjiafu where 1=1 
    	<if test="params.mainPropertyName != null">
			and main_property_name = #{params.mainPropertyName}	
		</if>
	</select>
 
</mapper>