<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.liugq.mapper.QiBaoMapper" >
  <resultMap id="BaseResultMap" type="com.example.liugq.bean.dzm.QiBao" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="main_property" property="mainProperty" jdbcType="VARCHAR" />
    <result column="main_property_name" property="mainPropertyName" jdbcType="VARCHAR" />
    <result column="secondary_property_1" property="secondaryProperty1" jdbcType="VARCHAR" />
    <result column="secondary_property_name_1" property="secondaryPropertyName1" jdbcType="VARCHAR" />
    <result column="secondary_property_2" property="secondaryProperty2" jdbcType="VARCHAR" />
    <result column="secondary_property_name_2" property="secondaryPropertyName2" jdbcType="VARCHAR" />
    <result column="second_level_property_name" property="secondLevelPropertyName" jdbcType="VARCHAR" />
    <result column="second_level_property" property="secondLevelProperty" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, main_property, main_property_name, secondary_property_1, secondary_property_name_1, 
    secondary_property_2, secondary_property_name_2, second_level_property_name, second_level_property, 
    remark
  </sql>
  
  <!-- 真气数据查询 -->
  <select id="qiBaoQuery" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
     from dzm_qibao where 1=1 
    <if test="params.mainPropertyName != null">
		and main_property_name = #{params.mainPropertyName}	
	</if>
  </select>
  
</mapper>