@charset "utf-8";
/* CSS Document */

/*左右分栏宽*/
.col_sub01,.col_sub02 { float:left;}
.col_sub01 { width:160px; position:absolute; z-index:10;}
.col_sub02{ width:100%; padding-left:190px; padding-right:20px;}
/*end*/
/*#fff link set; font size*/
.nav_menu li a,.nav_tree li a { color:#fff; font-size:16px;}
/*end*/
.wrap,.top_nav { width100%; position:relative;}
.wrap { padding-top:20px;}
.top_nav { height:70px; }
.nav_menu li,.nav_tree li {display:block; float:left;color:#fff;}
.nav_menu li {  padding-right:28px;  padding-top:16px;}
.nav_menu li.nav_search { float:right; width:550px; padding-top:2px;}
.nav_tree li { width:130px; padding:10px 15px; margin-bottom:10px;}
.nav_tree li a:hover { text-decoration:none;}
.nav_tree li .mar_top { margin-top:3px;}
.nav_tree li.nav_tree_more,.nav_tree li.nav_sub_menu {background-color:inherit; _background-color:#fff;}
.nav_tree li.nav_tree_more { height:18px; background:url(../images/icon-bg-more.png) center repeat-x;  text-align:center;}
.nav_tree li.nav_sub_menu ul li{}
/*search area*/
.search {border:1px solid #f1f1f1; padding:15px;}
.label_name { _vertical-align:super;}
/*end*/
.table { width:100%;}
.table thead tr{ background-color:#edfff5; font-size:14px;}
.table thead tr th,.table tbody tr td { border-bottom:#f1f1f1 1px solid; padding:5px 0; text-align:left;}
.table thead tr th.clear_border,.table tbody tr td.clear_border { border-bottom:0 none;}
.table tbody tr td { font-size:12px;}
.table tr.bg { background-color:#f1f1f1;}

/*分页*/
.pagination {display: inline-block; *display:inline; zoom:1;padding-left: 0;margin-right: 20px;margin-top: 5px;border-radius: 4px; font-size:12px;}
.pagination  li  a, .pagination  li  span {position: relative;float: left;padding: 6px 12px;line-height: 1.428571429;text-decoration: none;background-color: #ffffff;border: 1px solid #dddddd;margin-left: -1px;}
.pagination  li {display: inline;}
.pagination  .disabled  span, .pagination  .disabled  span:hover, .pagination  .disabled  span:focus, .pagination  .disabled  a, .pagination  .disabled  a:hover, .pagination  .disabled  a:focus {color: #999999;background-color: #ffffff;border-color: #dddddd;cursor: not-allowed;}
/*end*/

/*弹出框*/
.modal { width:50%; position:absolute; top:5%; left:50%; margin-left:-25%; border:1px solid #f1f1f1; background:#fff; z-index:100;}
.modal_header { height:33px; padding:0 10px; line-height:33px; font-weight:bold; font-size:16px; border-bottom:1px solid #f1f1f1;}
.modal_body { padding:10px; height:450px; overflow:auto;}
.modal_footer { text-align:center; padding:10px; border-top:1px solid #f1f1f1;}
.modal_close:hover { text-decoration:none; font-size:22px;}
/*end*/

/*资质*/
.qualifications li{ display:block; float:left; width:102px; margin-right:10px;}
.qualifications li .img { border:#f1f1f1 1px solid; }
.qualifications li .img,.qualifications li .img img {width:100px; height:100px;}
.qualifications li .name { text-align:center; line-height:25px;}
/*end*/
