@charset "utf-8";
/* CSS Document */
html{
	height:100%;
}

body{
	min-width:1024px;
	width:100%;
	
}
*{
	margin:0;
	padding:0;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif,"微软雅黑", "宋体" ;
	color:#545454;
}
a{
	text-decoration:none;
	color:#21a27a;
}
ul,ol,li{
	list-style:none;
}
img{border:0px;}
em,i{font-style:normal;}
input,textarea{
	outline:none;
	resize: none;
}
h1,h2,h3,h4,h5{font-weight:normal;}

/*  header  */
.header{
	height:60px;
	background-color:#21a27a;
}
.header .button_folding{
	float:left;
	margin:14px 0 0 10px;
	width:32px;
	height:32px;
	text-indent:-10000px;
	background:url(../images/icon_folding.png) 0 0 no-repeat;
	_background:url(../images/icon_folding.gif) 0 0 no-repeat;
}
.header .button_folding:hover{
	background:url(../images/icon_folding_hover.png) 0 0 no-repeat;
	_background:url(../images/icon_folding_hover.gif) 0 0 no-repeat;
}
.header .logo{
	float:left;
	margin:0 0 0 10px;
	width:300px;
	height:57px;
	background:url(../images/0813-logo2.png) 0 0 no-repeat;
}
.header .icons{
	float:right;
	padding:10px 0 0;
	height:40px;
	position:relative;
	z-index:9;
}
.header .icons a{
	float:left;
	margin:0 15px;
	width:40px;
	height:40px;
}
.header .icons .message{
	background:url(../images/icon_message.png) 0 0 no-repeat;
	_background:url(../images/icon_message.gif) 0 0 no-repeat;
}
.header .icons .message:hover,.header .icons .message .selected{
	background:url(../images/icon_message_hover.png) 0 0 no-repeat;
	_background:url(../images/icon_message_hover.gif) 0 0 no-repeat;
}
.header .icons .user{
	background:url(../images/icon_user.png) 0 0 no-repeat;
	_background:url(../images/icon_user.gif) 0 0 no-repeat;
}
.header .icons .user:hover,.header .icons .user .selected{
	background:url(../images/icon_user_hover.png) 0 0 no-repeat;
	_background:url(../images/icon_user_hover.gif) 0 0 no-repeat;
}

.header .icons .webapp{
	background:url(../images/icon_web.png) 0 0 no-repeat;
}
.header .icons .webapp:hover,.header .icons .webapp .selected{
	background:url(../images/icon_web_hover.png) 0 0 no-repeat;
}

.header .icons .quit{
	background:url(../images/icon_quit.png) 0 0 no-repeat;
	_background:url(../images/icon_quit.gif) 0 0 no-repeat;
}
.header .icons .quit:hover{
	background:url(../images/icon_quit_hover.png) 0 0 no-repeat;
	_background:url(../images/icon_quit_hover.gif) 0 0 no-repeat;
}
.header .icons .div_user{
	display:none;
	position:absolute;
	top:60px;
	right:70px;
	width:230px;
	height:170px;
	background-color:#fff;
	border:1px solid #ccc;
	border-top:none;
	border-radius:0 0 3px 3px;
	behavior:url(css/ie-css3.htc);
	z-index:999;
}
.header .icons .div_user .triangle{
	position:absolute;
	z-index:1000;
	width:0;
	heigth:0;
	top:-6px;
	right:27px;
	*right:20px;
	_right:20px;
	border-color: transparent transparent #fff transparent;  
	border-style: solid;  
	border-width: 0 6px 6px 6px;
	/* ie6 height fix */  
	font-size: 0;  
	line-height: 0;  
	/* ie6 transparent fix */  
	_border-top-color: #dddddd;  
	_border-bottom-color: #dddddd;  
	_filter: chroma( color = #dddddd);
}
.header .icons .div_user .user_info{
	height:56px;
	padding:15px;
}
.header .icons .div_user .user_info .head{
	float:left;
	width:48px;
	height:48px;
	border:2px solid #5cb85c;
	padding:2px;
	border-radius:3px;
	behavior:url(css/ie-css3.htc);
	position:relative;
	z-index:1000;
}
.header .icons .div_user .user_info .info{
	float:left;
	padding:10px 0 0 10px;
	height:56px;
	width: 120px;
	overflow: hidden;
}
.header .icons .div_user .user_info .info .name{
	display:block;
	line-height:18px;
	font-size:16px;
	color:#545454;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.header .icons .div_user .user_info .info .identity{
	display:block;
	line-height:18px;
	color:#999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.header .icons .div_user .user_menu{
	margin:0 15px;
	height:82px;
}
.header .icons .div_user .user_menu a{
	display:block;
	float:none;
	padding-left:35px;
	margin:0;
	width:auto;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#545454;
	border-top:1px solid #d9d9d9;
}
.header .icons .div_user .user_menu a.pwd{
	background:url(../images/icon_pwd.png) 5px center no-repeat;
	_background:url(../images/icon_pwd.gif) 5px center no-repeat;
}
.header .icons .div_user .user_menu a.data{
	background:url(../images/icon_data.png) 5px center no-repeat;
	_background:url(../images/icon_data.gif) 5px center no-repeat;
}
.header .icons .div_user .user_menu a:hover{
	text-decoration:underline;
}
.shadow{
	-moz-box-shadow: 0px 0px 4px #aaa;
    -webkit-box-shadow: 0px 0px 4px #aaa;
    box-shadow: 0px 0px 4px #aaa;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=4, Direction=90),
			progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=4, Direction=180),
			progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=4, Direction=270);
}

/*  left  */
.left{
	float:left;
	width:209px;
	height:100%;
	border-right:1px solid #d9d9d9;
	position:relative;
	z-index:1;
}
.left .title{
	height:50px;
	line-height:50px;
	font-size:20px;
	color:#21a27a;
	border-bottom:1px solid #d9d9d9;
	background:url(../images/menu_bg.png) right 0 no-repeat;
	_background:url(../images/menu_bg.gif) right 0 no-repeat;
	text-align:center;
}
.left .title em{
	padding-left:10px;
	font-size:15px;
	color:#b0b0b0;
}
.left .ztree{
	position:relative;
}

/*  right  */
.right{
	min-height:300px;
	height:100%;
	margin-left:210px;
	position:relative;
	z-index:0;
}


/*  position  */
.position{
	height:50px;
	border-bottom:1px solid #d9d9d9;
}
.position .icon{
	float:left;
	width:50px;
	height:50px;
	background:url(../images/icon_position.png) center center no-repeat;
	_background:url(../images/icon_position.gif) center center no-repeat;
}
.position .text{
	float:left;
	height:50px;
	line-height:50px;
}
.position .text *{font-size:14px;}
.position .text .cur{
	color:#21a27a;
}
.position .text a:hover{
	text-decoration:underline;
}

.header .icons .div_message{
	display:none;
	position:absolute;
	top:60px;
	right:70px;
	width:230px;
	height:170px;
	background-color:#fff;
	border:1px solid #ccc;
	border-top:none;
	border-radius:0 0 3px 3px;
	behavior:url(css/ie-css3.htc);
	z-index:999;
}
.header .icons .div_message .triangle{
	position:absolute;
	z-index:1000;
	width:0;
	heigth:0;
	top:-6px;
	right:27px;
	*right:20px;
	_right:20px;
	border-color: transparent transparent #fff transparent;  
	border-style: solid;  
	border-width: 0 6px 6px 6px;
	/* ie6 height fix */  
	font-size: 0;  
	line-height: 0;  
	/* ie6 transparent fix */  
	_border-top-color: #dddddd;  
	_border-bottom-color: #dddddd;  
	_filter: chroma( color = #dddddd);
}
.header .icons .div_message .user_info{
	height:56px;
	padding:15px;
}
.header .icons .div_message .user_info .head{
	float:left;
	width:48px;
	height:48px;
	border:2px solid #5cb85c;
	padding:2px;
	border-radius:3px;
	behavior:url(css/ie-css3.htc);
	position:relative;
	z-index:1000;
}
.header .icons .div_message .user_info .info{
	float:left;
	padding:10px 0 0 10px;
	height:56px;
}
.header .icons .div_message .user_info .info .name{
	display:block;
	line-height:18px;
	font-size:16px;
	color:#545454;
}
.header .icons .div_message .user_info .info .identity{
	display:block;
	line-height:18px;
	color:#999;
}
.header .icons .div_message .user_menu{
	margin:0 15px;
	height:82px;
}
.header .icons .div_message .user_menu a{
	display:block;
	float:none;
	padding-left:35px;
	margin:0;
	width:auto;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#545454;
	border-top:1px solid #d9d9d9;
}
.header .icons .div_message .user_menu a.pwd{
	background:url(../images/icon_pwd.png) 5px center no-repeat;
	_background:url(../images/icon_pwd.gif) 5px center no-repeat;
}
.header .icons .div_message .user_menu a.data{
	background:url(../images/icon_data.png) 5px center no-repeat;
	_background:url(../images/icon_data.gif) 5px center no-repeat;
}
.header .icons .div_message .user_menu a:hover{
	text-decoration:underline;
}
.icon_menu{
	background:url(../images/icon_menu_level2.png) 7px center no-repeat;
	_background:url(../images/icon_menu_level2.gif) 7px center no-repeat;
	
}