@charset "utf-8";

.TTOPlogin {
	width: 100%;
	height: 31px;
	color: #666;
	background: #FAFAFA;
	border-bottom: 1px solid #EEE;
}

.TTOPlogin .topnr {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
}

.TTOPlogin .topnr .top-right {
	float: right;
}

.TTOPlogin .topnr .top-left {
	float: left;
}

.TTOPlogin .topnr img {
	float: left;
}

.TTOPlogin .topnr a {
	text-decoration: none;
	font-size: 12px;
	color: #666;
	line-height: 31px;
	margin: 0 4px;
}

.TTOPlogin .topnr span {
	color: #666;
	line-height: 31px;
}

.fp_bd_setpbox {
	margin: 20px auto 0;
	min-height: 330px;
	height: auto;
	width:650px;
}

.fp_bd_box {
	border: #c1c1c1 solid 1px;
	margin-top: 30px;
	height: auto !important;
	height: 420px;
	min-height: 420px;
}

.fp_title {
	line-height: 30px;
	text-align:left;
	font-weight: normal;
	font-size: 14px;
}

.fp_title strong{
	color:#dd1112;
}

.fp_setp {
	height: 77px;
	overflow: hidden;
}

.no_tips {
	padding:0 15px;
	line-height: 25px;
	color: #65747f;
	font-size: 12px;
}

.tips_bule {
	margin:20px auto 0;
	width:750px;
	height:30px;
	line-height:30px;
	display:block;
	border: #4593d1 solid 1px;
	background-color: #dcecf7;
	text-align:left;
}

.tips_red {
	border: #dd1112 solid 1px;
	background: #fceaea url(../../images/find/find_word_noice6.gif) no-repeat
		6px 4px;
}

/*-----------------------------------找回密码首页---------------------------------*/
.input_list {
	margin:50px auto 0;
	overflow: hidden;
	zoom: 1;
	width:500px;
}
.fp_main .input_list{
	height:70px;
}
.input_list li {
	display:block;
	clear:both;
	font-size: 14px;
	line-height: 30px;
	color: #555555;
	padding:10px 0 0;
}
.input_list li label{
	float: left;
	padding-right:10px;
	width: 100px;
	text-align:right;
	line-height:30px;
}
.input_list li label.name {
	float: left;
	padding-right:10px;
	width: 100px;
	text-align:right;
	line-height:30px;
}
.input_list li .dom_box{
	float:left;
	width:350px;
}
.input_list li .tex{
	float:left;
	line-height:30px;
}
.input_list li .error{
	float:left;
	width:auto;
	color:#f00;
	line-height:30px;
}
.input_list li input.input_text {
	float: left;
	display:inline;
	margin-right:5px;
	width: 250px;
	height: 28px;
	line-height: 28px;
	padding: 0px 5px;
	border: #CCC solid 1px;
}
.input_list li input.input_password{
	float: left;
	display:inline;
	margin-right:5px;
	width: 250px;
	height: 28px;
	line-height: 28px;
	padding: 0px 5px;
	border: #CCC solid 1px;
}
.button_toolbar{
	margin:50px 0 0;
	height:37px;
	text-align:center;
}
.button_toolbar input{
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin:0 20px;
	width:120px;
	height:37px;
	line-height:37px;
	border: 0px;
	background: #f89e00;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
.button_toolbar a{
	color:#f00;
}

/*-----------------------------------找回密码 验证身份---------------------------------*/
.reg_ok .title{
	padding:5px 0 0;
}
.test_tips {
	margin:10px 0 0 80px;
	border: #ecda55 solid 1px;
	background-color: #f8f2c1;
	padding:5px 10px;
	color: #545454;
	line-height: 20px;
	text-align:left;
}
.test_tips a{
	color:#f00;
}

.test_tips input {
	background: url(../../images/find/text_tips_btn2.gif) no-repeat;
	width: 138px;
	height: 30px;
	border: 0px;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 5px;
}

.time {
	display: inline-block;
	background: url(../../images/find/inputbg.gif) no-repeat;
	width: 138px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #afafaf;
	white-space: nowrap;
	word-spacing: normal;
}

.time em {
	font-style: normal;
}

.fp_step1 .input_list {
	overflow: hidden;
	zoom: 1;
}

.fp_step1 .input_list li {
	float: left;
	width: 700px;
	display: inline;
	margin-top: 17px;
	line-height: 27px;
	color: #555;
}

.fp_step1 .input_list li label.name {
	float: left;
	font-size: 14px;
	text-align: right;
	padding-right: 12px;
}

.fp_step1 .input_list li span.tex {
	float: left;
	font-weight: bold;
	font-size: 14px;
}

.fp_step1 .input_list li input.input_text {
	float: left;
	background: url(../../images/find/input_text_bg2.gif) repeat-x;
	height: 25px;
	border: #CCC solid 1px;
	padding: 0 5px;
	width: 76px;
	line-height: 25px;
}

.fp_step1 .input_list li.last {
	padding-left: 77px;
	margin-top: 27px;
	width: 623px;
}

.fp_step1 .input_list li.last input.input_btn {
	width: 119px;
	height: 37px;
	border: 0px;
	background: #f89e00;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
}

.fp_step1 .input_list li.last .goback {
	margin-left: 10px;
	line-height: 37px;
	color: #286ad6;
}

/*----------------------------------- 重置登录密码---------------------------------*/
.fp_step2 .input_list {
	overflow: hidden;
	zoom: 1;
	padding: 20px 0px 0px 90px;
	padding-left: 35%;
}

.fp_step2 .input_list li {
	float: left;
	width: 810px;
	display: inline;
	line-height: 27px;
	color: #555;
}

.fp_step2 .input_list li.nummber {
	margin-bottom: 17px;
}

.fp_step2 .input_list li label.name {
	float: left;
	width: 100px;
	font-size: 14px;
	text-align: right;
	padding-right: 10px;
}

.fp_step2 .input_list li span.tex {
	float: left;
	font-weight: bold;
	font-size: 14px;
}

.fp_step2 .input_list li input.input_password {
	background: url(../../images/find/input_text_bg2.gif) repeat-x;
	height: 25px;
	border: #CCC solid 1px;
	padding: 0 5px;
	width: 202px;
	line-height: 25px;
	float: left;
}

.fp_step2 .input_list li .password_str {
	padding-left: 110px;
	color: #a8a8a8;
	width: 700px;
}

.fp_step2 .input_list li .password_str img {
	margin: 0 2px;
	vertical-align: middle
}

.fp_step2 .input_list li .password_str .str_tex {
	color: #f00;
}

.fp_step2 .input_list li.last {
	padding-left: 110px;
	width: 700px;
	margin-top: 28px;
}

.fp_step2 .input_list li.last input.input_btn {
	width: 119px;
	height: 37px;
	border: 0px;
	background: #f89e00;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
}

/*----------------------------------- 重置成功---------------------------------*/
.reg_ok .success{
	height:80px;
}
.reg_ok .success .title{
	padding-top:15px;
}
.fp_step3 .input_list {
	overflow: hidden;
	zoom: 1;
	width: 520px;
	margin: 0 auto;
	padding-top: 70px;
}

.fp_step3 .input_list li.first {
	background: url(../../images/find/find_word_noice7.gif) no-repeat 17px top;
	height: 43px;
	overflow: hidden;
	line-height: 43px;
	font-size: 14px;
	padding-left: 79px;
	font-weight: bold;
}

.fp_step3 .input_list li.last {
	text-align: center;
	margin-top: 40px;
}

.fp_step3 .input_list li.last input.input_btn {
	width: 119px;
	height: 37px;
	border: 0px;
	background: #f89e00;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
}