.reg_ok {
	margin: 0 auto;
	padding: 30px 0;
	width: 1200px;
	text-align: center;
}
.reg_ok .step {
	padding: 0 190px;
	height: 30px;
	border-bottom: 2px solid #e3e3e3;
}
.reg_ok .step li {
	float: left;
	padding: 0 0 0 15px;
	margin: 0 20px;
	width: 215px;
	height: 30px;
	line-height: 30px;
	position: relative;
	font: bold 16px/34px "Microsoft Yahei";
	text-align: center;
}

.reg_ok .step li.step1 {
	background: url(./step_1.png) no-repeat 35px;
	_background: url(./step_1.gif) no-repeat 35px;
}
.reg_ok .step li.step2 {
	background: url(./step_2.png) no-repeat 35px;
	_background: url(./step_2.gif) no-repeat 35px;
}
.reg_ok .step li.step3 {
	background: url(./step_3.png) no-repeat 35px;
	_background: url(./step_3.gif) no-repeat 35px;
}

.reg_ok .step li.on {
	border-bottom: 2px solid #396;
	margin-bottom: -2px;
}
.reg_ok .fromreg {
	clear: both;
	padding: 40px 0 0 320px;
	width: 700px;
}
.reg_ok .fromreg li {
	float: left;
	width: 100%; margin : 5px 0;
	text-align: left;
	margin: 5px 0;
}
.reg_ok .fromreg li label {
	float: left;
	padding: 0 10px 0 0;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	color: #666;
}
.reg_ok .fromreg li label em {
	color: #f00;
	padding: 0 5px 0 0;
}
.reg_ok .fromreg li input {
	float: left;
	padding: 0 5px;
	width: 230px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #e3e3e3;
}

.reg_ok .fromreg li input.short {
	width: 140px;
}
.reg_ok .fromreg li input.checkbox {
	padding:0;
	width: 15px;
	height: 15px;
	line-height:0;
	border: 1px solid #e3e3e3;
	border:none\9;
}
.reg_ok .fromreg .checkinput input{
	margin-left: 130px;
}
.reg_ok .fromreg .checkinput a{
	
	color:blue;
}
/*密码强度样式*/
.reg_ok .fromreg li .safe {
	clear: both;
	padding: 5px 0 0 130px;
	text-align: left;
	margin: auto;
	height: 15px;
	display: none;
}
.reg_ok .fromreg li .safe-rank {
	float: left;
	width: 171px;
	height: 15px;
	line-height: 15px;
	background: #ddd;
}
.reg_ok .fromreg li .safe ul {
	height: 15px;
	width: 171px;
	margin-top: -15px;
	overflow: hidden;
}
.reg_ok .fromreg li .safe li {
	float: left;
	margin: 0; width : 56px;
	border-right: 1px solid #FFF;
	line-height: 15px;
	text-align: center;
	color: #FFF;
	font-family: \5b8b\4f53;
	padding-top: 1px\9;
	width: 56px;
}
.reg_ok .fromreg li .safe-rank-bar {
	width: 0;
	height: 15px;
	background: #669966;
	overflow: hidden;
	transition: all .4s linear 0s;
}
.reg_ok .fromreg li .a {
	width: 56px;
}
.reg_ok .fromreg li .b {
	width: 112px;
}
.reg_ok .fromreg li .c {
	width: 171px;
}
.reg_ok .fromreg li .img {
	float: left;
	margin: 0 0 0 10px; width : 80px;
	height: 28px;
	background-color: #f3f3f3;
	text-align: center;
	width: 80px;
}
.reg_ok .fromreg li .yz_link {
	float: left;
	padding: 0 0 0 5px; width : 120px;
	height: 28px;
	line-height: 28px;
	color: #006cff;
	width: 120px;
}
.reg_ok .fromreg li .btn_register {
	float: left;
	margin: 45px 0 0 130px;
	width: 280px;
	height: 45px;
	line-height: 45px;
	background-color: #349b66;
	color: #fff;
	border: none;
	text-align: center;
	font-size: 18px;
}
.reg_ok .fromreg li label.error {
	margin: 0 0 0 10px; color : #f00;
	width: auto;
	text-align: left;
	color: #f00;
}
/*注册错误样式*/
.change_email .box{
	width:400px;
	height:200px;
	margin-left:-200px;
	margin-top:-100px;
}
.change_email .cnt{
	height:80px
}
dl.nxt-line-w {
	height: 36px !important;
}
.popup_profile .cnt dd input.btn {
	height: 36px;
	width: 120px;
	font: 16px/36px "Microsoft Yahei";
	color: #fff;
	border: none;
	background-color: #396;
	cursor: pointer;
}
.popup_profile .cnt dd label input {
	float: left;
	width: 14px;
	height: 14px;
	margin: 5px;
}
.reg_ok .coninfo {
	position: relative;
	width: 750px;
	margin:0 auto;
	margin-top: 50px;
}
.reg_ok .icon{
	float:left;
	width: 80px;
	height: 80px;
}
.reg_ok .title{
	margin-left: 80px;
	padding:10px 0 0;
	position: relative;
	text-align: left;
	font-weight: normal;
	color: #666;
	font-size:24px;
}
.reg_ok .title em{
	padding:0 0 0 10px;
	color:#396;
	font-size:26px;
}
.reg_ok .desc{
	margin-left: 80px;
	padding:10px 0 0;
	position: relative;
	text-align: left;
	font-weight: normal;
	color: orange;
	font-size:14px;
}
.reg_ok .activity .icon{
	background:url(./icon_mail.png) left center no-repeat;
	_background:url(./icon_mail.gif) left center no-repeat;
}
.reg_ok .success{
	width:600px;
	height:150px;
	margin-top:70px;
}
.reg_ok .success .icon{
	background:url(icon_success.png) left center no-repeat;
	_background:url(icon_success.gif) left center no-repeat;
}
.reg_ok .success .title{color:#396;}
.reg_ok .success .desc{display:block;text-align:left;}
.reg_ok .button_toolbar{
	margin:90px 0 0;
	height:45px;
	text-align:center;
}
.reg_ok .button_toolbar .btn_activity{
	display:inline-block;
	*zoom:1;
	*display:inline;
	width:280px;
	height:45px;
	line-height:45px;
	background-color:#396;
	color:#fff;
	text-align:center;
	font-size:18px;
}
.reg_ok .button_toolbar .link{
	padding:0 5px;
	display:inline-block;
	*zoom:1;
	*display:inline;
	height:45px;
	line-height:45px;
	color:#F00;
	font-size:14px;
}
.reg_ok .rightbox2 {
	margin-left: 200px;
	width: 500px;
	position: relative;
	float: right;
	padding-top: 30px;
	text-align: left;
	font-weight: normal;
	font: normal 16px/36px "Microsoft Yahei";
}
.reg_ok .rightbox2 h3 {
	font: normal 26px/36px "Microsoft Yahei";
	color: #396
}
.reg_ok .rightbox h3 {
	font: normal 24px/36px "Microsoft Yahei";
}
.reg_ok .rightbox h3 em {
	font-size: 24px;
	color: #396
}
.reg_ok div.frombtn {
	text-align: center;
	padding-top: 30px;
	width: 300px;
	position: relative;
	height: 45px;
	margin: auto
}
.reg_ok div.frombtn a {
	width: 280px;
	height: 45px;
	display: block;
	font: 16px/45px "Microsoft Yahei";
	color: #ffffff;
	margin: auto;
	position: relative
}
.reg_ok div.frombtn a:hover {
	width: 280px;
	height: 45px;
}
.reg_ok div.frombtn_r {
	float: right;
	padding-top: 30px;
	line-height: 45px;
}
.reg_ok div.frombtn_r a {
	color: #339966;
}
.reg_ok div.frombtn_r a:hover {
	color: #4ebb52;
}
.reg_ok div.btnline {
	width: 550px;
	margin: auto;
	margin-bottom: 50px;
	text-align: center
}