<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.liugq.mapper.ShengXingMapper">
  <resultMap id="BaseResultMap" type="com.example.liugq.bean.dzm.ShengXing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pozhao" jdbcType="BIGINT" property="pozhao" />
    <result column="shanbi" jdbcType="BIGINT" property="shanbi" />
    <result column="gedang" jdbcType="BIGINT" property="gedang" />
    <result column="baoji" jdbcType="BIGINT" property="baoji" />
    <result column="mingzhong" jdbcType="BIGINT" property="mingzhong" />
    <result column="fangbao" jdbcType="BIGINT" property="fangbao" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, type, name, pozhao, shanbi, gedang, baoji, mingzhong, fangbao
  </sql>
  
</mapper>