.tab_table{
    padding-top:20px;
}
.tab_table .tab_ul:after,.tab_table:after {
    clear: both;
}
.tab_table .tab_ul:after,.tab_table:after,
.tab_table .tab_ul:before,.tab_table:before{
    display: table;
    line-height: 0;
    content: "";
}
.tab_table .tab_ul {
    list-style: none;
    padding: 0;
    margin: 0 0 -1px 25px;
    display: block;
    width: 98%;
    border-bottom: 1px solid #c5d0dc;
}
.tab_table .tab_ul li{
    margin-bottom: -1px;
    float:left;
    border-color: #c5d0dc;
}
.tab_table .tab_ul li .active_a {
    border-radius: 0 !important;
    background-color: #f9f9f9;
    color: #999;
    z-index: 11;
    border: 1px solid #c5d0dc;
    width: 118px;
    height: 35px;
    cursor: pointer;
    display: block;
    line-height: 35px;
    text-align: center;
    box-sizing: border-box;
}
.tab_table .tab_ul li .active_a:hover {
    background-color: #FFF;
    color: #4c8fbd;
    border-color: #c5d0dc;
}
.tab_table .tab_ul li.active .active_a {
    color: #576373;
    border-top: 2px solid #4c8fbd;
    border-bottom: 1px solid #fff;
    background-color: #FFF;
    z-index: 16;
    line-height: 35px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
}
.tab_table .tab_ul li .active_a span{
    padding: 0 4px;
    line-height: 15px;
    opacity: .75;
    background-color: #d15b47 !important;
    text-shadow: none;
    font-size: 12px;
    border-radius: 9px;
    margin-left:5px;
    color:#fff;
}
.tab_table .tab_ul li.active .active_a span{
    opacity: 1;
}
.tab_content{
    border: 1px solid #c5d0dc;
    position: relative;
    z-index: 11;
    float:left;
    margin: 0 0 10px 25px;
    overflow: auto;
    height: 560px;
    width: 98%;
    box-sizing: border-box;
    border-top: none;
}
.tab_table .caret{
    margin-bottom:3px;
    margin-left:10px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid #000;
    border-top-color: rgb(0, 0, 0);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top-color: #08c;
    border-bottom-color: #08c;
    content: "";
    color: #999;
    line-height: 16px;
}