.navbar .cate ul { display: none; }

/*shopcart*/
body{background-color:#ffffff}
.commbox{ border:1px solid #dddddd; padding: 30px 40px;border-top:solid 2px #2c9461; }
.header .headertitle{ float:left; background:url(../images/pic/icon_pay.gif) left center no-repeat; height:98px; line-height:98px; font:22px/98px  bold "微软雅黑"; padding-left:70px;}
.header .headertitl_2{ float:left; background:url(../images/pic/icon_pay2.gif) left center no-repeat; height:98px; line-height:98px; font:22px/98px  bold "微软雅黑"; padding-left:70px;}
.header .headertitl_3{ float:left; background:url(../images/pic/icon_pay3.png) left center no-repeat; height:98px; line-height:98px; font:22px/98px  bold "微软雅黑"; padding-left:50px;}
.header .step { height:60px; padding:10px 0 20px 20px; background-color:#fff; }
.header .step ul { height:31px; width:760px; background:url(../images/step_bg.jpg) no-repeat left; margin-top:15px; float:right }
.header .step ul li { float:left; width:190px; text-align:center; font:bold 14px/30px "Microsoft Yahei"; color:#999; }
.header .step ul.step1 { background-position:0px 0px; }
.header .step ul.step2 { background-position:0px -31px; }
.header .step ul.step3 { background-position:0px -62px; }
.header .step ul.step4 { background-position:0px -93px; }
.header .step ul.step1 li.s1,.header .step ul.step2 li.s2,.header .step ul.step3 li.s3 ,.header .step ul.step4 li.s4 { color:#fff; }
.header .carttitle,.header .carttitle_check,.header .carttitle_sign{ float:left}
.header .carttitle{ font-family:"Microsoft Yahei"; font-size:24px; line-height:54px; color:#333333; padding-left:70px; height:54px; background:url(../images/pic/icon_buy.png) no-repeat left center; margin:20px 0;}
.header .carttitle_check{ font-family:"Microsoft Yahei"; font-size:24px; line-height:54px; color:#333333; padding-left:70px; height:54px; background:url(../images/pic/icon_check.png) no-repeat left center; margin:20px 0;}
.header .carttitle_sign{ font-family:"Microsoft Yahei"; font-size:24px; line-height:54px; color:#333333; padding-left:70px; height:54px; background:url(../images/pic/icon_sign.png) no-repeat left center; margin:20px 0;}

.shopcart { }
.shopcart .table { border:solid 1px #ccc; border-top:solid 4px #396; background-color:#fff; }
.shopcart .table table { width:100%; }
.shopcart tr.odd td { background-color:#f8f8f8; }
.shopcart .table table th { padding:10px; text-align:center; font:14px/24px "Microsoft Yahei"; }
.shopcart .table td img{ float:left; width:60px ; height:60px; border:1px solid #ebebeb;  }
.shopcart .table td  a{ float:left; margin-left:2px; display:block; line-height:60px; margin-top:10px;}
.shopcart .table table td { padding:10px; text-align:center;  border-top:1px solid #cccccc;}
.shopcart .table table td.supplier { text-align:left; background-color:#effcd1; height:26px; border-bottom:1px solid #cccccc; }
.shopcart .table table td .input { position:relative; height:24px; text-align:center; width:120px;}
.shopcart .table table td .input input { height:22px; border:solid 1px #ddd; width:60px; text-align:center; }
.shopcart .table table td .input a { position:absolute; border:solid 1px #ddd; width:12px; height:12px; font:12px/12px "Microsoft Yahei";margin-top:5px; }
.shopcart .table table td .input a.down { top:0px; right:0px; }
.shopcart .table table td .input a.up { top:0px; left:0px; }
.shopcart .table table .totalline td { padding:30px ;}
.shopcart .table table .totalline td .total{ text-align:right; padding-right:20px;}
.shopcart .table table .totalline td .total em{color:#f43032;}
.shopcart .table table .totalline td .total em.price{ margin-left:20px;color:#333333}
.shopcart .table table .totalline td p{display:block;line-height:auto; float:left; height:auto; padding-left:20px; }
.shopcart .table table .totalline td p a{display:block;padding-left:15px; font:12px/12px "Microsoft Yahei"; margin:0;line-height:auto; float:left; height:auto;}
.shopcart .table table .totalline td p.cartdel a{ background:url(../images/pic/carticon1.png) no-repeat left center; }
.shopcart .table table .totalline td p.cartcon a{ background:url(../images/pic/carticon2.png) no-repeat left center; }

.shopcart .table table td.hand { background-color:#eef5fb; }
.shopcart .table table td.hand p { text-align:left; padding:10px; height:24px; }
.shopcart .table table td.hand p a { display:block; background:url(../images/s2.png) no-repeat left center; padding-left:15px; font:12px/24px "Microsoft Yahei"; float:left; }
.shopcart .table table td.hand .total { text-align:right; height:50px; font:14px/50px "Microsoft Yahei"; padding:0 10px; }
.shopcart .table table td.hand .total em { font-size:30px; color:#f60; }

.shopcart .table .totalprice{ }
.shopcart .table .carttatol  em{color:#f43032; font-size:24px;font-weight:bold;line-height:45px;}
.shopcart .table .carttatol div{ float:right;line-height:45px;}
.shopcart .carttatol .totalprice{height:45px; font:12px/45px "Microsoft Yahei";line-height:45px; margin-right:40px;}
.shopcart .carttatol .btn {  height:45px; background:url(../images/pic/cartbtnbg.png) repeat-x;}
.shopcart .table table td.carttatol{padding:0;}
.shopcart .table td .btn a { font-weight:bold;height:45px; background:url(../images/pic/cartbtnbg.png) repeat-x;  height:45px; font:18px/45px "Microsoft Yahei";  line-height:45px; margin:0; padding:0 30px; color:#ffffff; }
.shopcart .table td .btn a:hover{height:45px; background:url(../images/pic/cartbtnbghover.png) repeat-x;}


/*shopcart*/

.shopcart .carttitle_check{ font-family:"Microsoft Yahei"; font-size:24px; line-height:54px; color:#333333; padding-left:70px; height:54px; background:url(../images/pic/icon_check.png) no-repeat left center; margin:20px 0;}
.shopcart .checkpaybox{ padding:0px;border:solid 1px #e3e3e3; border-top:4px solid #396;font-family:"Microsoft Yahei"; margin-bottom:20px;}
.shopcart .addr { border:none;  padding:10px 15px; margin:20px; }
.shopcart .addr h3 { height:30px; font:bold 14px/24px "Microsoft Yahei"; }
.shopcart .addr h3 a {  font:14px/24px "Microsoft Yahei"; padding:0 10px;  }
.shopcart .addr ul { padding:10px 0 0; }
.shopcart .addr li { margin:8px 0; height:28px; font: normal 14px/28px "Microsoft Yahei"; color:#666; }
.shopcart .addr li.on{ background-color:#effdcc}
.shopcart .addr li.on a { font:14px/24px "Microsoft Yahei";  margin:0 ; display:inline}
.shopcart .addr li span{margin-right:10px;}
.shopcart .addr li a { display:none }
.shopcart .addr li input { width:14px; height:14px; float:left; margin:7px; }
.shopcart .paycheckbtn1 a{ display:block; text-align:center; background:url(../images/pic/paycheckbtn.png) no-repeat; width:145px; height:30px; font:14px/30px "Microsoft Yahei"; color:#ffffff;}
.shopcart .paycheckbtn1 a:hover{ background-position:0 -30px; color:#ffffff;}

.shopcart .payway { border:solid 4px #b3dd49;  padding:10px 30px; margin-top:10px; }
.shopcart .payway h3 { height:24px; font:bold 14px/24px "Microsoft Yahei"; }
.shopcart .payway ul { padding:10px 0 0; }
.shopcart .payway li { padding:8px 0; height:24px; font:14px/24px "Microsoft Yahei"; color:#666; }
.shopcart .payway li input { width:14px; height:14px; float:left; margin:5px; }
.shopcart .payway h3 a {  font:14px/24px "Microsoft Yahei"; padding:0 10px;  }
.shopcart .payway li.on{ background-color:#effdcc}
.shopcart .payway li.on a { font:14px/24px "Microsoft Yahei";  margin:0 ; display:inline}

.shopcart .list { border-bottom:solid 1px #ddd;  padding:10px 30px; margin-top:10px; }
.shopcart .list td.img{text-align:left;}
.shopcart .list td.img img{ margin:0 10px;height:50px; width:50px; border:solid 1px #e3e3e3;}
.shopcart .list h3 { height:24px; font:bold 14px/24px  "Microsoft Yahei";  margin-bottom:10px;}
.shopcart .list h4 { margin:10px 0; height:28px; font:14px/28px  "Microsoft Yahei"; background-color:#396; padding:0 10px; color:#fff; }
.shopcart .list table { width:95%; border-top:solid 1px #cccccc; margin:auto}
.shopcart .list th { height:30px; padding:10px; text-align:center; font:14px/30px  "Microsoft Yahei"; background-color:#eeeeee; }
.shopcart .list td { padding:10px; height:50px; text-align:center;border-top:solid 1px #cccccc;font:14px/50px"Microsoft Yahei";}
.shopcart .list td.notetb{padding:10px 0;}
.shopcart .list .notetb table { border:1px #e3e3e3 solid; width:100%;}
.shopcart .list .notetb td{ padding:0px 20px; border:none; text-align:left; vertical-align:top;font:  14px/36px "Microsoft Yahei";}
.shopcart .list .notetb .th{font: bold 14px/36px "Microsoft Yahei";}
.shopcart .list .notetb td input{margin:0 10px}
.shopcart .list .notetb td p.notefp{ margin-left:30px; display:none}
.shopcart .list .notetb td p.notefp input{width:200px}
.shopcart .list .list_apply td{background-color:#effcd1;font:14px/28px "Microsoft Yahei"; text-align:left; height:28px;}
.shopcart .list .odd td { background-color:#f8f8f8}
.shopcart .list .total td {height:36px; text-align:right; padding-right:40px;}
.shopcart .list .total td span{font:14px/28px "Microsoft Yahei"; margin-right:20px;}
.shopcart .list .total td span em{ color:#cc0000;}
.shopcart .list .total { margin-top:15px;  background-color:#fff; padding:10px; font:12px/24px  "Microsoft Yahei"; text-align:right; }
.shopcart .list .total h5 { font:20px/36px "Microsoft Yahei"; }
.shopcart .list .total h5 span { color:#f00; }
.shopcart .checkpaybox .totalpay{ background-color:#f3f3f3}
.shopcart .checkpaybox .totalpay div{ float:right;line-height:45px;}
.shopcart .checkpaybox .totalpay  em{color:#f43032; font-size:24px;font-weight:bold;line-height:45px;}
.shopcart .checkpaybox .totalprice{height:45px; font: bold 14px/45px "Microsoft Yahei";line-height:45px; margin-right:40px;}
.shopcart .checkpaybox  .totalpay{padding:0; height:45px; padding-right:60px;}
.shopcart .checkpaybox  .totalpay .btn a { font-weight:bold;height:45px; background:url(../images/pic/cartbtnbg.png) repeat-x;  height:45px; font:18px/45px "Microsoft Yahei";  line-height:45px; margin:0; padding:0 30px; color:#ffffff; display:block;}
.shopcart .checkpaybox .totalpay .btn a:hover{height:45px; background:url(../images/pic/cartbtnbghover.png) repeat-x;}

.shopcart .succeed { height:61px; font:40px/61px "Microsoft Yahei"; color:#396; background-color:#dbeefd; padding:100px 0; text-align:center; }
.shopcart .succeed span { display:inline-block; width:62px; height:61px; background:url(../images/ordersuccess.jpg) no-repeat center; vertical-align:middle; }
.shopcart .ordernum { border-top:solid 3px #396; padding:20px; background-color:#dbeefd; font:16px/24px "Microsoft Yahei"; color:#666; }
.shopcart .ordernum label { font-weight:bold; }
.shopcart .ordernum span { color:#f00; padding:0 10px; }

/*history_info*/
.history_info { border:solid 1px #ddd; background-color:#fff; margin:15px 0; padding:0;}
.history_info .tit{height:50px; background-color:#f3f3f3; line-height:50px;}
.history_info .tit h2{ float:left; line-height:50px;border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:0 40px; font-size:14px; font-weight:bold; cursor:pointer}
.history_info .tit h2.on{border-bottom:1px solid #ffffff;border-top:3px solid #2f9969;line-height:47px; background-color:#ffffff; }
.history_info .cnt { margin:10px; }
.history_info .cnt a.prev,.history_info .cnt a.next { width:36px;  text-align:center; font:42px/300px "Microsoft Yahei"; color:#2c9461; height:300px; font-weight:bold}
.history_info .cnt a:hover{color:#006633;}
.history_info .cnt .list { float:left; display:inline; margin-left:15x; overflow:hidden; }
.history_info .cnt {  padding: 0 ; }
.history_info .cnt li { float: left; width: 160px; margin: 5px; padding: 12px;border: 1px solid #ffffff; border-right: 1px solid #EBEBEB; display: inline; position: relative; display: inline; }
.history_info .cnt li.last{ border-color:#ffffff;}
.history_info .cnt li a.img { display: block; width: 160px; height: 144px; position: relative; }
.history_info .cnt li img { display: block; width: 160px; height: 144px; border: none; }
.history_info .cnt li a.img .des { position: absolute; width: 100%; bottom: 0px; left: 0px; width: 100%; padding: 5px 0; z-index: 1; display: none; background: url(../images/transparent_bg2.png) repeat 0px 0px; }
.history_info .cnt li a.img .des h5 { font-size: 12px; line-height: 20px; padding: 0 10px; color: #fff; }
.history_info .cnt li a.img .des p { line-height: 18px; height: auto; padding: 0 10px; color: #87d0d6; overflow: hidden; }
.history_info .cnt li a.img .icon { position: absolute; top: 0px; left: 0px; z-index: 2; width: 71px; height: 62px; }
.history_info .cnt li a.img .icon img { width: auto; height: auto; border: none; }
.history_info .cnt li a.img:hover { text-decoration: none; }
.history_info .cnt li.line { width: 1170px; height: 14px; border-bottom: dotted 1px #ebebeb; margin: 15px 0px 0; }
.history_info .cnt li h3 a{ font-size: 15px; font-weight:bold; height: 24px; line-height: 24px; overflow: hidden; color:#2c9461;}
.history_info .cnt li h4 a{ font-size: 15px; font-weight: bold; height: 36px; line-height: 30px; overflow: hidden; }
.history_info .cnt li p { line-height: 24px; height: 24px; color: #333333; }
.history_info .cnt li p a{color: #333333;}
.history_info .cnt li p em { font-family: "Microsoft Yahei"; }
.history_info .cnt li p.purchase { font-size: 14px; height: 24px; }
.history_info .cnt li p.purchase span { float: left;color: #f00000;font-size: 16px; }
.history_info .cnt li p.purchase em { float: left; text-decoration: none;  font-weight: normal;font-size: 14px; color:#2c9461 }
.history_info .cnt li p.purchase a { float: left; height: 24px; font-size: 12px; text-align: center; text-decoration: none; font-weight:normal; color:#fff; background-color:#396; padding:0 5px; }
.history_info .cnt li .btn { height: 22px; line-height: 22px; padding-top: 5px; }
.history_info .cnt li .btn span { float: left; width: 78px; height: 24px; background:url(../images/pic/seach_btn1.jpg); cursor: pointer; text-align:center; color: #fff; }
.history_info .cnt li .btn span:hover{background:url(../images/pic/seach_btn1hover.jpg);}
.history_info .cnt li .btn span.stockout { background-position: 0px 0px; }
.history_info .cnt li .btn span.joined { background-position: 0px -22px; }
.history_info .cnt li .btn span.append {  }
.history_info .cnt li .btn span.not_authenticated { background-position: 0px -111px; }
.history_info .cnt li .btn span.not_relation { background-position: 0px -66px; }
.history_info .cnt li .btn span.not_permission { background-position: 0px -88px; }
.history_info .cnt li .btn a.coll_btn { float: left; height: 24px; line-height: 24px; display: inline; margin-left: 5px;background:url(../images/pic/seach_btn2.png) no-repeat; width:60px; text-align:center;}
.history_info .cnt li .btn a.not_can_buy { float: left; height: 22px; line-height: 22px; display: inline; background: #1293a5; padding: 0px 4px;text-align:center;}
.history_info .cnt li .btn a.on { background: url(../images/ico_fav_on.png) no-repeat 0px center; }


.header div.payinfo_lr{ margin-top:40px; font:18px/24px "Microsoft Yahei"; margin-left:20px;color:#666666; float:right; background:url(../images/pic/2015011606.jpg) left center no-repeat; padding-left:40px;}
.header div.payinfo_lr em{ font: bold 24px/24px "Microsoft Yahei"; margin-left:2px;color:#339966;}
/*payinfo*/
.payinfo{ padding: 2px 0;height: 80px;background-color: #fff; margin-bottom:20px;}
.payover{height: 30px;}
.payinfo div.payinfo_l{ float:left; font:14px/32px "Microsoft Yahei"; margin-left:20px;color:#666666;}
.payinfo div.payinfo_lr{ font:18px/32px "Microsoft Yahei"; margin-left:20px;color:#666666;}
.payinfo div.payinfo_lr em{ font: bold 24px/32px "Microsoft Yahei"; margin-left:2px;color:#339966;}
.payinfo div.payinfo_l em{color:#cc0000;}
.payinfo div.payinfo_r{ float:right; font: bold 14px/72px "Microsoft Yahei"; }
.payinfo div.payinfo_r em{color:#cc0000; font:bold 20px/72px "Microsoft Yahei"; margin-left:20px; }
.payinfo div.payinfo_r span.img{ margin-left:20px; text-indent:-9999px;}
.drug_pay .pay_infocon{ position:relative; margin:auto; width:580px; text-align:center; }
.drug_pay .pay_infocon div{ font:bold 14px/32px "Microsoft Yahei"; margin:10px;}
.drug_pay .pay_infocon div em{font:bold 24px/32px "Microsoft Yahei";color:#e3393a}
.drug_pay .pay_infocon .bottomline{ border-bottom:2px solid #e3e3e3; padding-bottom:10px;}
.drug_pay .payover { padding:20px ; margin:auto; position:relative; width:241px;}
.drug_pay .payover a {  color:#fff;  font: bold 20px/50px "Microsoft Yahei"; display:block; float:left; background:url(../images/pic/paybtn1.png) no-repeat; width:241px; height:50px; text-align:center; }
.drug_pay .payover a:hover{background-position:0px -50px;}

/*drug_pay*/
.drug_pay { margin: 0;  font:12px/24px "Microsoft Yahei";}
.drug_pay .title {  text-align:left; background-color:#339966; color:#ffffff; padding-left:20px;font:16px/36px "Microsoft Yahei"; height:36px;}
.drug_pay .cont { border:solid 1px #ddd; border-top:none; padding:15px; background-color:#fff; padding-bottom:50px;}
.drug_pay .info { border:solid 1px #ccc; border-radius:5px; padding:15px; font:12px/24px "Microsoft Yahei"; }
.drug_pay .info label { float:left; width:100px; }
.drug_pay .info span { color:#f00; }
.drug_pay .way { padding:15px; }
.drug_pay .way h3 { font:bold 16px/30px "Microsoft Yahei"; }.drug_pay .way ul{ margin:30px 30px 0px 30px;}
.drug_pay .way ul li { float:left; margin-right:25px; height:54px;}
.drug_pay .way ul li div{float:left; width:188px; background:url(../images/pic/un_card.png) no-repeat ; border:solid 1px #339966; height:36px;margin:8px 0px;}
.drug_pay .way .cpayonline em{ color:#2f9969}
.drug_pay .way .cpayonline {  background:url(../images/pic/un_card.png) no-repeat right -1728px; padding-right:190px; height:36px;margin:8px 0px; font:normal  16px/38px "Microsoft Yahei"; position:absolute }
.drug_pay .way ul li.more div{background-image:none; background-color:#effdcc; border:none; height:38px;margin:8px 0px; font:normal  16px/38px "Microsoft Yahei"; color:#2f9969; text-align:center}
.drug_pay .way ul li.more div a{color:#2f9969;}.drug_pay .way ul li.more div a:hover{color:#339966;}
.drug_pay .way ul li.more div:hover{background-color:#ccee99;}
.drug_pay .way ul li div.payway_01{ background-position:0px -1344px;}
.drug_pay .way ul li div.payway_02{ background-position:0px -46px;}
.drug_pay .way ul li div.payway_03{ background-position:0px -94px;}
.drug_pay .way ul li div.payway_04{ background-position:0px -142px;}
.drug_pay .way ul li div.payway_05{ background-position:0px -190px;}
.drug_pay .way ul li div.payway_06{ background-position:0px -238px;}
.drug_pay .way ul li div.payway_07{ background-position:0px -286px;}
.drug_pay .way ul li div.payway_08{ background-position:0px -332px;}
.drug_pay .way ul li div.payway_09{ background-position:0px -380px;}
.drug_pay .way ul li div.payway_10{ background-position:0px 2px;}
.drug_pay .way ul li div.payway_11{ background-position:0px -428px;}
.drug_pay .way ul li div.payway_12{ background-position:0px -476px;}
.drug_pay .way ul li div.payway_13{ background-position:0px -524px;}
.drug_pay .way ul li input { float:left; width:14px; height:14px; margin:20px 10px; }
.drug_pay .paybtn { padding:20px ; margin:auto; position:relative; width:360px;}
.drug_pay .paybtn a {  color:#fff;  font: bold 20px/50px "Microsoft Yahei"; display:block; float:left; background:url(../images/pic/paybtn1.png) no-repeat; width:241px; height:50px; text-align:center; }
.drug_pay .paybtn a:hover{background-position:0px -50px;}
.drug_pay .paybtn span{ color:#cc0000;  font:16px/50px "Microsoft Yahei"; margin-left:5px;}

.drug_pay .list { }
.drug_pay .list h4 { margin:10px 0; height:30px; font:14px/30px "Microsoft Yahei"; background-color:#396; padding:0 10px; color:#fff; }
.drug_pay .list table { width:100%; }
.drug_pay .list th { height:30px; padding:10px; text-align:center; font:14px/30px "Microsoft Yahei"; background-color:#eee; border:solid 1px #f4f7fb; }
.drug_pay .list td { padding:10px; height:20px; text-align:center; border:solid 1px #f4f7fb; }
.drug_pay .list .total { margin-top:15px; border-top:solid 3px #396; background-color:#fff; padding:10px; font:12px/24px "Microsoft Yahei"; text-align:right; }
.drug_pay .list .total h5 { font:20px/36px "Microsoft Yahei"; }
.drug_pay .list .total h5 span { color:#f00; }

/*reg_ok*/
.reg_ok .title {  text-align:left; background-color:#339966; color:#ffffff; padding-left:20px;font:16px/36px "Microsoft Yahei"; height:4px;}
.reg_ok .cont { border:solid 1px #ddd; border-top:none; padding:0px; background-color:#fff; padding-bottom:20px; padding-top:30px; text-align:center; }
.reg_ok div{ font:bold 14px/32px "Microsoft Yahei";}
.reg_ok div.fromreg{ clear:both; padding-top:20px; width:500px; margin:auto;clear:right; }

.reg_ok div.fromreg p{padding:5px 0; text-align:left; height:28px;}
.reg_ok div.fromreg label{ width:120px; display:block; text-align:right; padding-right:10px; font: normal 14px/28px "Microsoft Yahei"; color:#666666; float:left;}
.reg_ok div.fromreg input{ height:26px; width:240px; border:1px solid #e3e3e3; }
.reg_ok div.fromreg p.yz input{ height:26px; width:150px; }
.reg_ok div.fromreg p.yz span{display:block; float:left}
.reg_ok div.fromreg p.yz span.img{ height:28px; width:80px; margin-left:10px; display:inline-block; background-color:#f3f3f3;font: normal 14px/26px "Microsoft Yahei"; text-align:center}
.reg_ok div.fromreg em{font:bold 14px/32px "Microsoft Yahei";color:#e3393a; margin-right:5px}
.reg_ok .bottomline{ border-bottom:2px solid #e3e3e3; padding-bottom:10px;}
.reg_ok h4{  border-bottom:2px solid #e3e3e3;  padding:5px 190px; line-height:30px;height:30px }
.reg_ok h4 ul{ margin:auto; list-style:none; padding:auto; width:837px; position:relative; height:44px}
.reg_ok h4 ul li{ float:left; padding:0 10px 0 5px; font: bold 16px/34px "Microsoft Yahei"; width:222px; margin:0 20px; text-align: center;}
.reg_ok h4 ul li.on{border-bottom:4px solid #339966;}
.reg_ok h4 ul li.step1{ background:url(../images/pic/2015011602.jpg) no-repeat 35px;}
.reg_ok h4 ul li.step2{ background:url(../images/pic/2015011603.jpg) no-repeat  35px;}
.reg_ok h4 ul li.step3{ background:url(../images/pic/2015011604.jpg) no-repeat  35px;}
.reg_ok .coninfo{ position:relative; width:700px; margin:auto;margin-top:50px; }
.reg_ok .leftbox{width:200px; background:url(../images/pic/2015011608.jpg) center center no-repeat; height:140px;}
.reg_ok .leftbox2{width:200px; background:url(../images/pic/2015011609.jpg) center center no-repeat; height:140px;}
.reg_ok .rightbox{ margin-left:200px; width:500px; position:relative; float:right; padding-top:20px; text-align:left; font-weight:normal; color:#666666}
.reg_ok .rightbox2{ margin-left:200px; width:500px; position:relative; float:right; padding-top:30px; text-align:left; font-weight:normal; font: normal 16px/36px "Microsoft Yahei";}
.reg_ok .rightbox2 h3{font: normal 26px/36px "Microsoft Yahei";color:#396}
.reg_ok .rightbox h3{font: normal 24px/36px "Microsoft Yahei";}
.reg_ok .rightbox h3 em{ font-size:24px; color:#396}
.reg_ok div.frombtn{text-align:center; padding-top:30px; width:300px; position:relative; height:45px; margin:auto}
.reg_ok div.frombtn a{ background:url(../images/pic/regbtn.jpg) 0px 0px; width:280px; height:45px; display:block;font:16px/45px "Microsoft Yahei"; color:#ffffff; margin:auto; position:relative}
.reg_ok div.frombtn a:hover{ background:url(../images/pic/regbtn.jpg) 0px -45px; width:280px; height:45px;}
.reg_ok div.frombtn_r{ float:right; padding-top:30px; line-height:45px;}
.reg_ok div.frombtn_r a{ color:#339966;}
.reg_ok div.frombtn_r a:hover{ color:#4ebb52;}
.reg_ok div.btnline{ width:550px; margin:auto; margin-bottom:50px; text-align:center}
/*signed_pact*/
.mainbox{background-color:#ffffff}
.signed_pact { }
.signed_pact .item { border:none; }
.signed_pact .table { }
.signed_pact .table table { width:100%; border-top:solid 1px #eafdbb; border-left:solid 1px #eafdbb; }
.signed_pact .table th { text-align:center; font:14px/20px "Microsoft Yahei"; padding:10px; border-right:none; border-bottom:solid 1px #eafdbb; background-color:#339967; color:#ffffff}
.signed_pact .table td { text-align:center; border-right:solid 1px #eafdbb; border-bottom:solid 1px #eafdbb; padding:5px 10px; font:14px/24px "Microsoft Yahei" }
.signed_pact table em{ font-weight:bold; color:#396}
.signed_pact .table .signed_info td { text-align:left; border-right:solid 1px #eafdbb; border-bottom:solid 1px #eafdbb; padding:10px; font:14px/16px "Microsoft Yahei"; background-color:#eafdbb; }
.signed_pact table td.img{text-align:left;}
.signed_pact .detail table td.img img{ margin-left:50px;}
.signed_pact .table td.img img{ height:50px; width:50px; border:solid 1px #e3e3e3; margin:5px; }
.signed_pact .table td.expand a {padding-right:16px; position:relative; line-height:16px;}
.signed_pact .table td.expand a em{ width:16px;height:16px; background:url(../images/hetong_icon1.png) no-repeat; position:absolute; right:0px;}
.signed_pact .table td.expand a:hover em{ background:url(../images/hetong_icon1.png) no-repeat ;}
.signed_pact .table td.expand a em.down{ background-position: 0px 0px}
.signed_pact .table td.expand a:hover em.down{ background-position: -16px 0px}
.signed_pact .table td.expand a em.up{ background-position: 0px -16px}
.signed_pact .table td.expand a:hover em.up{ background-position: -16px -16px}
.signed_pact .table td a.btn { display:block; width:60px; height:24px; font:13px/24px "Microsoft Yahei"; color:#fff; margin:0 auto; background-color:#396; }
.signed_pact h4 { height:30px; font: bold 15px/30px "Microsoft Yahei"; color:#2f9969; margin:0 10px;}
.signed_pact h4 a { float:right; height:30px; padding-right:20px; background:url(../images/hetong_1.png) no-repeat right center; color:#2f9969;}
.signed_pact h4 a.on { background:url(../images/hetong_2.png) no-repeat right center; color:#2c9461;}
.signed_pact .detail { display:none; }
.signed_pact .detail table { width:100%; background-color:#ffffff; }
.signed_pact .detail th { height:24px; padding:10px; text-align:center; font:14px/24px "Microsoft Yahei"; background-color:#e8e7e7}
.signed_pact .detail td { padding:5px; font:14px/60px "Microsoft Yahei"; text-align:center; }
.signed_pact .detail img{ height:50px; width:50px; border:solid 1px #e3e3e3; margin:5px; }
.signed_pact .detail .odd td{background-color:#eafdbb}

.signed_pact .text { padding:20px 40px; background-color:#fff; margin-top:15px; }
.signed_pact .text h1 { font:20px/40px "Microsoft Yahei"; text-align:center; padding-bottom:20px; border-bottom: solid 1px #dddddd}
.signed_pact .text p.info { font:bold 14px/30px "Microsoft Yahei"; color:#2c9461; margin-bottom:10px;}
.signed_pact .text p.info span { float:right; }
.signed_pact .text .txt { font:18px/36px "Microsoft Yahei"; padding:10px; color:#333333}
.signed_pact .form { background-color:#fff; padding:40px 60px; }
.signed_pact .form dl { width:400px; }
.signed_pact .form dt { font: normal 28px/60px "Microsoft Yahei"; text-align:center; padding-bottom:20px; margin-bottom:10px;}
.signed_pact .form .fl dt{color:#2c9461; border-bottom: solid 1px #2c9461}
.signed_pact .form .fr dt{color:#cc612c; border-bottom: solid 1px #cc612c}
.signed_pact .form dd { float:left; width:100%; padding:5px 0; }
.signed_pact .form dd label { float:left; height:24px; width:80px; text-align:right; font:16px/24px "Microsoft Yahei"; margin-right:20px; }
.signed_pact .form dd input { border:solid 1px #999; padding:1px; height:24px; font:16px/24px "Microsoft Yahei"; width:250px; }
.signed_pact .form dd a { float:left; width:300px; height:24px; font:16px/24px "Microsoft Yahei"; text-align:center; background-color:#396; color:#fff; }
.signed_pact .button{ padding:0px 0px 30px  100px; background-color:#fff; height:36px; margin-top:600px;}
.signed_pact .button a { float:left;display:block; font-weight:bold;height:45px; background:url(../images/pic/cartbtnbg.png) repeat-x;  font:18px/45px "Microsoft Yahei";  line-height:45px; margin:0; padding:0 40px; color:#ffffff; margin:0 40px;}
.signed_pact .button a:hover{height:45px; background:url(../images/pic/cartbtnbghover.png) repeat-x;}
.signed_pact .button span { float:left; font:14px/36px "Microsoft Yahei"; }
.signed_pact .link { padding:5px 220px; background-color:#fff; height:20px;  }
.signed_pact .link a { margin-right:10px;  font:16px/20px "Microsoft Yahei"; color:#2c9461;  }

.signed_pact .totalpay div{ float:right;line-height:45px;}
.signed_pact .totalprice{height:45px; font: bold 14px/45px "Microsoft Yahei";line-height:45px; margin-right:40px;}
.signed_pact  .totalpay{padding:20px 10px; height:45px; }
.signed_pact  .totalpay .btn a { float:left; font-weight:bold;height:45px; background:url(../images/pic/cartbtnbg.png) repeat-x;  height:45px; font:18px/45px "Microsoft Yahei";  line-height:45px; margin:0; padding:0 30px; color:#ffffff; display:block; margin-left:20px;}
.signed_pact .totalpay .btn a:hover{height:45px; background:url(../images/pic/cartbtnbghover.png) repeat-x;}
.signed_pact  .totalpay .btn a.disa{ background:#999999;}
/*ordercheck*/


/*popup_profile*/
.popup_profile { position:fixed; width:100%; height:100%; top:0px; left:0px; display:none; z-index:99999999; }
.popup_profile .bg { position: absolute; width: 100%; height: 100%; background-color: #000; opacity: 0.5; filter: Alpha(Opacity=50); }
.popup_profile .box { position:absolute; left:50%; top:50%; width:718px; height:448px; margin:-225px 0 0 -360px; background-color:#fff; border:solid 1px #396; }
.popup_profile .tit { height:30px; font:12px/30px "Microsoft Yahei"; background-color:#396; padding:0 10px; color:#fff; }
.popup_profile .tit a.close { float:right; color:#fff; }
.popup_profile .cnt { padding:15px; font:12px/24px "Microsoft Yahei";  }
.popup_profile .cnt p { font:12px/48px "Microsoft Yahei"; height:48px; color:#f00; }
.popup_profile .cnt dl { height:24px; padding:8px 0; }
.popup_profile .cnt dt { float:left; width:150px; text-align:right; padding-right:5px; }
.popup_profile .cnt dt span { color:#f00; font-size:16px; line-height:20px; }
.popup_profile .cnt dd { margin-left:100px; color:#454545; }
.popup_profile .cnt dd select { height:22px; border:solid 1px #ddd; width:120px; }
.popup_profile .cnt dd input { height:22px; border:solid 1px #ddd; }
.popup_profile .cnt dd input.addr { width:400px; }
.popup_profile .cnt dd input.zipcode { width:100px; }
.popup_profile .cnt dd input.name { width:160px; }
.popup_profile .cnt dd input.phone { width:180px; }
.popup_profile .cnt dd input.tel { width:180px; }
.popup_profile .cnt dd label input { float:left; width:14px; height:14px; margin:5px; }
.popup_profile .cnt dd input.btn { height:36px; width:120px; font:16px/36px "Microsoft Yahei"; color:#fff; border:none; background-color:#396; cursor:pointer; }
/*注册错误样式*/
.reg_ok div.fromreg label.error{color: red; font-size:12px;width:280px;}
label.error[for='address'] {display: block;}
dl.nxt-line-w {height: 36px !important;}
.popup_profile .cnt dd input.btn { height:36px; width:120px; font:16px/36px "Microsoft Yahei"; color:#fff; border:none; background-color:#396; cursor:pointer; }
