.tableheight { height: auto; width: 100%; overflow-x: scroll; table-layout: fixed; white-space: nowrap; overflow-y: hidden; text-overflow: ellipsis; padding: 0px 10px; }
.tableheight th { height: 12px; font-size: 12px; margin: 0px; padding: 0px; }
.tableheight td { height: 12px; font-size: 12px; margin: 0px; padding: 0px; }
select { }
.commonwidth { width: 100%; }
table { width: 100%; }
th { font-size: 13px; margin: 0px; padding: 0px; }
td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 13px; margin: 0px; padding: 0px; word-break: break-all; }
.imp-sign { color: red; }
.jh_qf_box, .jh_qf_box02 { background-color: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 4px 4px 4px 4px; margin: 10px 0 0; padding: 10px 10px 5px 10px; position: relative; padding-bottom: 0; }
.jh_qf_box > h5 { background-color: #F5F5F5; border: 1px solid #DDDDDD; border-radius: 4px 0 4px 0; font-weight: bold; left: -1px; padding: 3px 7px; position: absolute; top: -5px; color: black; }