/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-4-10, 21:06:16
    Author     : Youyo You <hailang111@126.com>
*/

.jpcontainer{width:500px;height:400px;position:relative;background:#fff;border:1px solid #D8DFEA;float:left;}
.jpcontainer a{padding:15px 20px;display:block;line-height:20px;background-color: #fff;border-bottom:1px solid #F2F4F8;border-top:1px solid #D8DFEA;}
.jpcontainer a:first-child{border-top:none;}
.jpcontainer a:last-child{border-bottom:none;}
.jpcontainer a:hover{background:#ECEFF5;border-bottom-color:#ECEFF5;}
.jpcontainer a h3{ font-size:14px;font-weight:bold;padding:2px 0 5px 0;text-transform:uppercase;}
.jpcontainer a img{float:left;margin:5px 10px 0px 0px;padding:3px;background:#fff;border:1px solid #D8DFEA;}
